body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.pointsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px;
  font-size: 20px;
  
  color: white;

  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.stack {
  margin: 20px;

  display: flexbox;
  flex-direction: column;
  justify-content: space-evenly;

  height: 500px;
}

.rightPanel::-webkit-scrollbar {
  width: 5px;
}

.rightPanel::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
.rightPanel::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
}

/* Handle on hover */
.rightPanel::-webkit-scrollbar-thumb:hover {
  background: white;
}

.emojisPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;  
}

.emojisLab {
  margin: 20px;
}

.emojisContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.emojiButton {
  text-align: center;
  vertical-align: center;
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 30px;
  background-color: black;
  border: none;
  cursor: pointer;
}

.emojiButton:hover {
  outline: none;
  background-color: white;
  transition: 500ms;
}