body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 20px;
  color: white;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.pointsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.board {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}

.stack {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(1, 40px);
  grid-template-rows: repeat(10, 40px);
  row-gap: 10px;  
}