body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: black;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  transition: 500ms;
}

.colorBtn:hover {
  outline: none;
  height: 38px;
  width: 38px;
  margin-top: 1px;
  margin-left: 1px;
  transition: 500ms;
}

.turnsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.pointsPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 10px;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px;
  font-size: 20px;
  
  color: white;

  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.stack {
  margin: 20px;

  display: flexbox;
  flex-direction: column;
  justify-content: space-evenly;

  height: 500px;
}

.rightPanel::-webkit-scrollbar {
  width: 5px;
}

.rightPanel::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
.rightPanel::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
}

/* Handle on hover */
.rightPanel::-webkit-scrollbar-thumb:hover {
  background: white;
}

.emojisPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
  color: white;  
}

.emojisLab {
  margin: 20px;
}

.emojisContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.emojiButton {
  text-align: center;
  vertical-align: center;
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 30px;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: 500ms;
}

.emojiButton:hover {
  outline: none;
  background-color: white;
  transition: 500ms;
}

.emojiButton:focus {
  background-color: white;
}

.swal-overlay {
  background-color: rgba(255, 255, 255, 0.5);
}

.swal-modal {
  background-color: black;
  border: 3px solid white;
}

.swal-title {
  color: white;
}
.swal-text {
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: white;
}

.swal-button {
  background-color: gray;
  border: 1px solid gray;
  margin-right: 4vh;
}

.inputField   {
  background-color: gray;
  width: 40px;
  text-align: center;
  margin-bottom: 5px;
}

.helpButton{
  background-color: black;
  border-color: white;
  color: white;
  margin: 5px;
  font: 18px "Century Gothic", Futura, sans-serif;
  transition: 500ms;
}

.helpButton:hover {
  background-color: white;
  color: black;
  transition: 500ms;
}

.rightRightPanel{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: 20px;
  font-size: 20px;
  
  color: white;


  width: 100px;
}

.bloqueGif{
  display: none;
  text-align: center;
  padding: 15px;
}

img {
  max-width: 100%;
}